.circle {
    display: inline-block;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    position: absolute;
    border: 1px black solid;
}

circle {
    r: 2.3px;
    stroke: black;
    stroke-width: 1px;
}