#next, #previous {
    background: rgba(0, 0, 0, 0.24) no-repeat center center;
    position: absolute;
    height: 100%;
    width: 10%;
    transition: 0.2s;
    cursor: pointer;
    top: 0;
    opacity: 0;
}

#previous {
    background-image: url('../../../images/prev.png');
    left: 0;
}

#next {
    background-image: url('../../../images/next.png');
    right: 0;
}
