#quests {
    background-color: #242424;
    grid-row: 4;
    display: grid;
    grid-auto-rows: min-content;
    grid-row-gap: 5px;
    padding: 5px;
    height: 100%;
    max-height: 100%;
    width: 100%;
    position: absolute;
    overflow-y: auto;
}

#quests::-webkit-scrollbar {
    width: 7px;
    /*background-color: transparent;*/
}

#quests::-webkit-scrollbar-track {
    /*background-color: transparent;*/
}

#quests::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.301);
}

.quest-group {
    display: grid;
    grid-auto-rows: minmax(25px, max-content);
    grid-row-gap: 1px;
    text-transform: capitalize;
}

.quest-group a:link, .quest-group a:visited {
    color: rgb(250, 250, 250);
}

.quest-group a:hover {
    text-decoration: underline;
}

.quest-group-title, .quest, #description{
    padding-left: 5px;
}

.quest-group-title {
    display: flex;
    align-items: center;
    justify-content: left;
    background: rgba(255, 255, 255, 0.130);
}

.quest {
    display: grid;
    grid-template-columns: max-content minmax(0px, 1fr);
    align-items: center;
    justify-content: left;
}

#complete {
    background: rgba(94, 207, 94, 0.342);
}

#accept {
    background: rgba(255, 255, 29, 0.37);
}

#quest {
    background: rgba(226, 84, 84, 0.418);
}

#note {
    background: rgba(94, 125, 192, 0.507);
    text-transform: none;
}

#description {
    color: rgba(255, 255, 255, 0.6);
    word-wrap: break-word;
    text-transform: none;
}
