#map {
    width: 1440px;
    height: 960px;
    transition: 0.2s;
    position: absolute;
    /*transform: scale(2);*/
    /*transform-origin: 42% 68%;*/
}

#map-wrapper {
    display: flex;
    background: rgba(0, 0, 0, 0.274);
    overflow: hidden;
    position: relative;
}

