#map {
    width: 1440px;
    height: 960px;
    transition: 0.2s;
    position: absolute;
}

#map > line {
    stroke-width: 3px;
    stroke: red;
    opacity: 0.9;
    /*stroke-dasharray: 5,5;*/
}

#map > #line-blue {
    stroke: rgb(27, 109, 198);
}

foreignObject {
    width: 100%;
    height: 100%;
    position: relative;
}

.waypoint {
    position: absolute;
    width: 1px;
    height: 1px;
    z-index: 2;
}

.waypoint > span {
    background: rgba(0, 0, 0, 0.76);
    position: absolute;
    pointer-events: none;
    /*padding: 1px;*/
    /*border-radius: 25%;*/
    opacity: 1;
}

.waypointNumber {
    background: rgba(0, 0, 0, 1);
    padding: 1px;
    position: absolute;
    left: -5px;
    top: -5px;
    display: block;
}

#left {
    position: absolute;
    left: -20px;
    top: -6px;
}

#right {
    position: absolute;
    left: 10px;
    top: -4px;
}

#top {
    position: absolute;
    left: -5px;
    top: -21px;
}

#bottom {
    position: absolute;
    left: -5px;
    top: 10px;
}

#quest {
    position: relative;
    left: -5px;
    top: -5px;
    background: url('../../images/waypoints/yellow.png');
}

#map-wrapper {
    display: flex;
    background: rgba(0, 0, 0, 0.274);
    overflow: hidden;
    position: relative;
}

#next, #previous {
    background: rgba(0, 0, 0, 0.24) no-repeat center center;
    position: absolute;
    height: 100%;
    width: 10%;
    transition: 0.2s;
    cursor: pointer;
    top: 0;
    opacity: 0;
}

#previous {
    background-image: url('../../images/prev.png');
    left: 0;
}

#next {
    background-image: url('../../images/next.png');
    right: 0;
}
