#map {
    width: 1440px;
    height: 960px;
    transition: 0.2s;
    position: absolute;
}

#map-wrapper {
    display: flex;
    background: rgba(0, 0, 0, 0.274);
    overflow: hidden;
    position: relative;
}

