* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: rgb(56, 56, 56);
    background-image: url('../images/bg.png');
    font: 13px 'Open Sans', verdana;
    color: #F1F1F1;
}

a:link, a:visited, a:hover {
    color: inherit;
    transition: .3s;
    text-decoration: none;
}

#container {
    display: grid;
    min-height: 100vh;
    min-width: 100vw;
    grid-template-rows: 35px 1fr;
}
